/* src/components/Pembayaran/MetodePembayaran/MetodePembayaran.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../../../assets/Backround-MetodePembayaran.png');
    background-size: cover;  
    background-position: center center center; 
    font-family: 'Inter', sans-serif;
}

/* Section input nominal donasi */
.donation-input {
    max-width: 400px;
    border: 1px solid #ddd;
}

.donation-input::placeholder {
    text-align: center; 
}


/* Section pilih donasi */
.donation-row {
    display: flex;
    justify-content: center;
    gap: 1rem; 
}

.donation-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 0;
    width: 140px;
    font-weight: bold;
    font-style: italic;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.donation-btn:hover {
    background-color: #f0f0f0; 
    border-color: rgba(0, 0, 0, 0.5);
}

.donation-btn-active {
    background-color: black;
    color: white;
}


/* MetodePembayaran.css */
.payment-methods-container {
    border-radius: 15px;
    max-width: 600px;     
}

.payment-method-btn {
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 0px; 
    border: none;
    margin: 0px;
    padding: 0px;  
    background-color: white;
    box-sizing: border-box;  
}

.payment-method-btn img {
    background-color: white;
    max-width: 100%;  
    max-height: 60px;  
    object-fit: contain;  
    border-radius: 0px;
}

.payment-method-btn.selected {
    border: 3px solid yellow;
}


@media (max-width: 576px) {
    .payment-method-btn {
        width: 120px; 
    }
}

@media (min-width: 576px) {
    .payment-method-btn {
        width: 140px; 
    }
}

@media (min-width: 768px) {
    .payment-method-btn {
        width: 160px;
    }
}


/* Section Form */
.form-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 1; 
}


/* Styling for the circular checkbox */
.form-check-input.circle-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form-check-input.circle-checkbox:checked {
    background-color: black;
    border-color: black;
}


.form-bottom-section {
    margin-top: 1rem; 
}
