body, h2, h4, label, button {
    font-family: 'Inter', sans-serif;
}

/* Back button style */
.btn-back {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 1rem; 
}

/* Style for the donation amount input */
.donation-input {
    max-width: 400px;
    border: 1px solid black;
    border-radius: 0; 
}

/* Centering the placeholder text */
.donation-input::placeholder {
    text-align: center; 
    color: #A12222; 
}