h1 {
 margin-right: 1em;
}

.hero-container {
    position: relative;
    background: linear-gradient(to right, #2949A8, #84aed8, #ffffff); 
    color: white; 
    padding-top: 1rem; 
    padding-bottom: 2rem;  

}
